<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <h1>Los creadores de esta magnifica pagina son: <%= autores %></h1>
    <h2>Aqui podeís ver lo guapos que son</h2>
    <p><%- foto1 %><%- foto2 %></p>
    <p><%- video1 %></p>
    <p><%- video2 %></p>
    <a href="/">Volver</a>
  </body>
  <footer>
    <%- github %>
  </footer>
</html>
